.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px; 
}

.details{
    &__image{
        max-height: 600px;
        width: 100%;
        margin: auto;
        padding: 0px 0px 40px;
        object-fit: contain;
    }

    &__title{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__header{
        margin-bottom: 20px;
    }

    &__description{
        font-size: 24px;
        padding: 0 20px 20px 20px;
    }
}