.container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.noTripsFound {
  color: white;
  font-size: 34px;
  font-weight: 600;
}

.details {
  &__image {
    max-height: 600px;
    width: 100%;
    margin: auto;
    padding: 0px 0px 40px;
    object-fit: contain;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__description {
    font-size: 24px;
    padding: 0 20px 20px 20px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  flex: 0 0 300px;
  border-radius: 10px;

  &__search {
    width: 100%;
    height: 34px;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 16px;
    border: 1px solid black;
    color: black;
    background-color: white;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
  }

  .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }
    }
  }
}
