.card {
    width: 330px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;

    .content {
        padding: 15px;
        gap: 15px;
        flex-grow: 1;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        color: black;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
    }

    .description {
        font-size: 12px;
        color: slateGray;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
    }

    .image {
        height: 250px;
        object-fit: cover;
        text-rendering: pixelated;
    }

    .rating_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .button {
        font-size: 12px;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

}