.card {
    width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        transform: scale(1.1);
    }

    .content {
        padding: 15px;
        gap: 15px;
        flex-grow: 1;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        color: black;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .description {
        font-size: 12px;
        color: slateGray;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }

}